// Font weight
$font-name: 'Golos Text';
$font-weight-normal: 400;
$font-weight-strong: 600;
$font-weight-italic: 'Regular Italic';

// Base
$font-base: 14px;
$font-sm: 12px;
$font-lg: 16px;
$font-xl: 20px;

